<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>MANO Attendance</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>flutter_application</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSCameraUsageDescription</key>
		<string>This app requires camera access to allow you to take and upload a secure selfie for attendance verification and identity confirmation during check-in. The photos are securely transmitted to your employer's systems.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>This app requires constant location access to automatically monitor when you enter or leave geofenced worksite boundaries, ensuring accurate attendance tracking even when the app is minimized. Your location data is strictly used for attendance.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>This app requires background location access to automatically monitor when you enter or leave geofenced worksite boundaries, ensuring accurate attendance tracking even when the app is minimized. Your location data is strictly used for attendance.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app requires access to your location while in use to verify your physical presence at the designated worksite for attendance tracking purposes. Your location data is only used during the check-in process and is not shared with third parties.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This app requires microphone access to record audio alongside video, in case video verification is necessary for your attendance check-in. The audio is only recorded when you explicitly start a video recording.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>This app requires permission to save photos to your library so that you can keep a local copy of your attendance verification snapshots.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app requires access to your photo library to allow you to select and upload existing photos for your user profile picture or to submit necessary verification documents. We only access photos you explicitly choose.</string>
		<key>UIApplicationSceneManifest</key>
		<dict>
			<key>UIApplicationSupportsMultipleScenes</key>
			<false/>
			<key>UISceneConfigurations</key>
			<dict>
				<key>UIWindowSceneSessionRoleApplication</key>
				<array>
					<dict>
						<key>UISceneClassName</key>
						<string>UIWindowScene</string>
						<key>UISceneConfigurationName</key>
						<string>flutter</string>
						<key>UISceneDelegateClassName</key>
						<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
						<key>UISceneStoryboardFile</key>
						<string>Main</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<!-- Allow users to access exported files via iOS Files app -->
		<key>UIFileSharingEnabled</key>
		<true/>
		<key>LSSupportsOpeningDocumentsInPlace</key>
		<true/>
	</dict>
</plist>
